@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
}

.image-background-1 {
  background-image: url('/ttispinnerbg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}